<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Search</title>
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet"/>
    </head>
    <body class="gradient">
        <div>
            <h1>Teen Shield New York</h1>
            <div class="button">
              <a href="/about" class="btn btn-info btn-large">About Us</a>
              <a href="/resources" class="btn btn-info btn-large">Resources</a>
              <a href="/emotionalsupport" class="btn btn-info btn-large">Emotional Support</a>
              <a href="/find" class="btn btn-info btn-large">Places Near You!</a>
            </div>
            <hr>
        </div>
        {% block body_content %}{% endblock %}
    </body>
</html>