{% extends "base.html" %}
{% block body_content %}
    <h2>Need Emotional Support?</h2>
    <p>
      <a>Hotlines For Homelessness and Runaways</a> <br> <br>
      Boys Town National Hotline - serving all at-risk teens and children <br>
800-448-3000 <br>
Twenty-four hours a day, seven days a week <br>
 <a href="http://www.boystown.org/hotline">http://www.boystown.org/hotline</a><br> <br>
      Crisis Call Center<br>
800-273-8255 or text ANSWER to 839863<br>
Twenty-four hours a day, seven days a week<br>
      <a href="http://crisiscallcenter.org/">http://crisiscallcenter.org/</a>
    <br> <br>
 National Runaway Switchboard<br>
800-RUNAWAY (786-2929)<br>
Twenty-four hours a day, seven days a week<br>
      <a 
href="http://www.1800runaway.org">http://www.1800runaway.org
</a><br> <br>
<a>Hotlines For Depression and Mental Health</a><br> <br>
 Depression and Bipolar Support<br>
800-273-TALK (8255)<br>
Twenty-four hours a day, seven days a week<br> 
<a 
href="http://www.dbsalliance.org">http://www.dbsalliance.org
</a><br> <br>
National Hopeline Network<br>
800-SUICIDE (784-2433)<br>
800-442-HOPE (4673)<br>
Twenty-four hours a day, seven days a week<br>
 <a 
href="http://www.hopeline.com">http://www.hopeline.com
</a><br> <br> 
Suicide Prevention Services Depression Hotline<br>
630-482-9696<br>
Twenty-four hours a day, seven days a week<br>
<a 
href="http://www.spsamerica.org">http://www.spsamerica.org
</a><br> <br>       
<a>Hotlines For Sexuality and Sexual Health</a><br> <br>
GLBT National Youth Talkline<br>
800-246-PRIDE (7743)<br>
4 p.m. to 12 a.m. EST, Monday to Friday<br> 
12 p.m. to 5 p.m. EST, Saturday<br>
<a 
href="http://www.glnh.org/talkline">http://www.glnh.org/talkline
</a><br> <br>
 American Sexual Health Association<br>
919-361-8488<br>
8 a.m. to 8 p.m. EST, Monday to Friday<br>
 <a 
href="http://www.ashastd.org">http://www.ashastd.org
</a><br> <br>
Planned Parenthood National Hotline<br>
800-230-PLAN (7526) - for routing to local resources<br>
Twenty-four hours a day, seven days a week<br>
<a 
href="http://www.plannedparenthood.org">http://www.plannedparenthood.org
</a><br> <br> 

    </p>
  </div>
{% endblock %}