{% extends "base.html" %}
{% block body_content %}
  <div>
    <h1>Teen Shield New York</h1>
    <div class="button">
      <a href="#" class="btn btn-info btn-large">About Us</a>
      <a href="#https://codepen.io/jamaljohnson917/full/rwGaaE/" class="btn btn-info btn-large">Resources</a>
      <a href="#" class="btn btn-info btn-large">Emotional Support</a>
    </div>
    <hr>
  </div>
  <div class="resources">
    <h2>Resources</h2>
    <h4>Independent Living</h4>
    <p></p>
  </div>
{% endblock %}