{% extends "base.html" %}
{% block body_content %}
  <div class="resources">
    <h2>Resources</h2>
        <h4>Independent Living</h4>
        <h4>The Door: (Includes Health Clinics, Jobs/Internships, LGBTQ, Counseling, Meals,Tutoring etc.) Located at 555 Broome Street/ Main Phone:212-941-9090* Mailing Address: 121 Avenue of the Americas, New York, NY 10013
    </h4>
        <h4>Camba:(
    Economic Development
    Education & Youth Development
    Family Support
    Health
    Housing
    Legal Services) 1720 Church Avenue 2nd Fl, Brooklyn, NY 11226 Phone: 718-287-2600

          <h4> Holy Apostles Soup Kitchen: Address: Manhattan;296 9th Ave, New York, NY 10001, 
      Phone: (212) 924-0167
    <h4> Harlem Community Nutritional service 
      Address: 132 West 125th street, Room 503 Manhattan, Ny, 10027 Phone: 212-666-7358 
      <h4> Bethel Sunshine Camp Address: 344 Tompkins Avenue Brooklyn, ny, 11216 phone: 347-731-6824
        <h4> Jamaica Hispanic SDA Church Adress: 88-28 161 street jamaica, NY, 11432 phone: 718-736-5291
    <h4> Recreational Centers: Manhattan: 430 W 25th St, New York, NY 10001, Phone:(212) 255-3705, Bronx: 765 Manida Street
    Bronx, New York 10474, Brooklyn:1555 Linden Boulevard, Queens: 177th St & Baisley Boulevard, Staten Island: Faber Street & Richmond Terrace
    Staten Island, NY 10301 
      <h4>
      </div>
  </div>
{% endblock %}